---
title: 2020 年第一次年度大会 01~03 号决议
layout: default
---

{% include res.html resnum="1" title="对本世界观及本大会的定义" content="根据二零二零年十月一日的集体投票（无反对票），通过议案。<br>议案内容：<br>本世界观基本上与现实相同，时间线与现实同步，科技水平与现实同步，但没有现实中的国家。<br>，<br>本大会每年召开约4次左右的会议，分别是：春季大会、夏季大会、年度大会、冬季大会<br>（本大会可能因实际情况删减或追加临时大会）" date="二零二零年十月一日" confname="2020 年第一次年度大会" %}
<hr>
{% include res.html resnum="2" title="关于本世界观的唯一合法登记组织" content="根据二零二零年十月一日的集体投票（无反对票），茲赋予虚拟联合唯一权利登记虚拟国，所有新虚拟国必须向虚拟联合登记。" date="二零二零年十月一日" confname="2020 年第一次年度大会" %}
<hr>
{% include res.html resnum="3" title="联合大会主席" content="根据二零二零年十月一日的集体投票（无反对票），茲任命 QQ 号为 3085894940（奥斯德共和国）为大会主席，任期一年。<br>政纲：<br>制定规矩解决“yy”问题，让虚拟国更贴实际。加强各国际组织间的联系，不定时举行国际活动以活动圈内气氛。<br>主席职责：<br>确定开会日期，主持大会等" date="二零二零年十月一日" confname="2020 年第一次年度大会" %}
