---
title: 2020 年第一次年度大会 03~04 号决议
layout: default
---

{% include res.html resnum="4" title="有关于对于虚拟国的基本规定" content="为维护各国之间的和平，及保障游戏的实际性，大会决定制定有关于对于虚拟国的基本规定<br>内容：<br><ol><li>不得违背科学原则</li><li>不得使用现实名称或侮辱现实存在的事物</li><li>各虚拟国保持主权独立，互不干涉内政，平等互利，和平共处</li><li>待补充</li></ol>" date="二零二零年十月二日" confname="2020 年第一次年度大会" %}
<hr>

<hr>
{% include res.html resnum="6" title="有关于对历史文献的规定" content="根据二零二零年十月一日的集体投票（无反对票），决定各国历史文献方面，必须遵循以下规定：<br><ol><li>禁止使用现实存在的名称或侮辱现实存在或曾经存在的事物</li><li>历史文献仅允许 3 次修改，修改超过三次需要向联合大会申请修改</li><li>历史文献需标明发生时间，并遵循历史文献标注时间当时现实的科技水平</li></ol>" date="二零二零年十月二日" confname="2020 年第一次年度大会" %}
<hr>

